body {
  background-color: #222222;
  color:white;
  /* position: relative; */
}

header h1 {
  font-size: 3.5rem;
  text-align: center;
  color: red;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_input {
  margin-top: -20px;
}

.main_input input{
  padding: 5px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.box {
  border: 2px solid rgb(92, 87, 87);
  border-radius: 15px;
  overflow: hidden;
  transition: background-color 400ms;
}

.box:hover {
  background-color: #3b3b3b;
}
.box_img img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.box_text {
  text-align: center;
}

.box_text p:first-child {
  font-size: 16px;
  font-weight: 700;
}

.box_text p {
  font-size: 14px;
  margin-bottom: 1rem;
}

footer {
  display: none;
  width: auto;
  position:absolute;
  bottom: 0;
  font-size: 14px;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.123);
}

@media screen and (min-width: 500px) {
  header h1 {
    text-align:initial;
    margin-left: 25px;
  }

  .main_input {
    margin-top: 0;
    position: relative;
    right: -40%;
    top: -70px;
  }

  .container {
    margin-top: -55px;
  }
}
